:root {
  --form-color: #797979;

  /* Adicione mais variáveis conforme necessário */
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  width: 450px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.text {
  font-family: "Arial";
  font-size: 1.5em;
  font-weight: 700;
}

.underline {
  width: 50px;
  height: 6px;
  background-color: black;
  margin: 10px;
  border-radius: 9px;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  background: #eaeaea;
}

.icons {
  color: var(--form-color);
  margin-left: 5%;
  margin-right: 5%;
}

.input input {
  height: 50px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--form-color);
  font-size: 19px;
}

.forgot-password {
  color: var(--form-color);
  margin-top: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password span {
  cursor: pointer;
  color: rgb(232, 123, 39);
  margin-left: 10px;
}

.submit-container {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border: 2px solid var(--form-color);
  border-radius: 50px;
  width: 120px;
  height: 44px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}

.submit:hover {
  background-color: #797979;
  color: white;
}
.submit.active {
  color: rgb(251, 245, 245);
  background: #a6a1a1;
}
