.book-list-container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: 1% 2%;
}

.book-list-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  color: #4a5d70;
}

.add-book-btn {
  background-color: #4a5d70;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 40px 20px rgba(120, 100, 100, 1.1);
}

.add-book-btn:hover {
  background-color: #5a6d80; /
}

.search-nav {
  position: absolute;
  width: 300px;
  padding: 1rem;
}å

.search-container {
  width: 400px;
  max-width: 600px;
  margin: 0 auto;
}

.search-input {
  width: 400px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}