.buttonView {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: #3b5998;
  border: none;
  color: wheat;
  cursor: pointer;
}

.buttonView:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
